<main>
    <h1 *ngIf="!searchTerm && category" class="max-sm:text-2xl sm:text-3xl text-darkBlue text-center font-bold p-6 m-6"> Liste des Artisans {{category}}</h1>
    <h1 *ngIf="searchTerm" class="max-sm:text-2xl sm:text-3xl text-darkBlue text-center font-bold p-6 m-6">Liste des Artisans : "{{searchTerm}}"</h1>
    <div *ngIf="!searchTerm && category" class="flex flex-wrap justify-center m-8 gap-x-8">
        <app-artisan-card *ngFor="let artisan of artisans | filteredArtisanByCategory : category" [artisan]="artisan" mode="list" 
        class="w-[300px] my-8"/>
    </div>
    <div *ngIf="(artisans | search: searchTerm)?.length !== 0" class="flex flex-wrap justify-center m-8 gap-x-8">
        <app-artisan-card *ngFor="let artisan of artisans | search : searchTerm" [artisan]="artisan" mode="list"
        class="w-[300px] my-8"/>
    </div>
    <div *ngIf="(artisans | search: searchTerm)?.length === 0 && searchTerm" class="flex justify-center mb-12">
        <p class="text-textColor w-[70%] text-xl text-center">
            Aucun artisan trouvé. Veuillez effectuer une autre recherche ou utilisez les différentes catégories.
        </p>
    </div>
    
</main>
