<header class="bg-bgc">
    <div class="flex items-center justify-between p-4 md:p-8 shadow-xs">
        <a routerLink="/">
            <img src="assets/img/Logo.jpg" alt="Logo de Trouve ton artisan avec la région Auvergne-Rhône-Alpes" class="max-w-50 md:max-w-60">
        </a>
        <div class="flex justify-end gap-x-8 w-full pr-4">
            <button (click)="toggleMenu()" class="md:hidden block hover:cursor-pointer">
                <img *ngIf="!menuOpen" src="assets/img/bars-solid.svg" alt="menu burger" class="w-7">
                <img *ngIf="menuOpen" src="assets/img/xmark-solid.svg" alt="image d'une crois pour fermer le menu" class="w-7">
            </button>
            <button (click)="searchBar()">
                <img src="assets/img/magnifying-glass-solid.svg" alt="image loupe pour la recherche" class="w-7 md:hidden hover:cursor-pointer">
            </button>
        </div>
        <div class="max-md:hidden xl:flex items-center w-full gap-x-8">
            <nav class="max-md:hidden">
                <ul class="flex space-x-6 text-xl">
                    <li class="hover:text-lightBlue">
                        <a routerLink="artisan-list/Bâtiment">Bâtiment</a>
                    </li>
                    <li class="hover:text-lightBlue">
                        <a routerLink="artisan-list/Fabrication">Fabrication</a>
                    </li>
                    <li class="hover:text-lightBlue">
                        <a routerLink="artisan-list/Services">Services</a>
                    </li>
                    <li class="hover:text-lightBlue">
                        <a routerLink="artisan-list/Alimentation">Alimentation</a>
                    </li>
                </ul>
            </nav>
            <div class="max-md:hidden flex flex-col justify-end">
                <div class="flex justify-between border-b-2 border-r-2 p-2 mt-4 w-2/3 xl:w-70 xl:mt-0">
                    <input type="text" [(ngModel)]="searchTerm" placeholder="recherche" >
                    <img src="assets/img/magnifying-glass-solid.svg" alt="icon de recherche loupe" class="w-4">
                </div>
                <ul *ngIf="(searchTerm.length > 0)" class="max-h-[100px] w-2/3 xl:w-70 border-2 rounded-sm border-darkBlue overflow-y-auto text-[#0074c7]">
                    <li *ngFor="let artisan of artisans | search : searchTerm" (click)="selectArtisan(artisan.id)" class="border-b-1 border-darkBlue p-2">
                        {{artisan.name}} -
                        {{artisan.location}} -
                        {{artisan.specialty}}
                    </li>
                </ul>
            </div>
        </div>    
    </div>
    <nav [ngClass]="{'block' : menuOpen, 'hidden' : !menuOpen}"
            class="md:hidden transform transition-all duration-300 bg-bgc fixed top-0 w-full h-screen">
        <button (click)="closeMenu()">
            <img src="assets/img/xmark-solid.svg" alt="image d'une crois pour fermer le menu" class="w-7 fixed right-0 pr-1">
        </button>
        <ul class="flex flex-col justify-center items-start text-2xl space-y-6 p-8">
            <li class="border-b-2 border-darkBlue w-[90%] hover:text-lightBlue">
                <a routerLink="artisan-list/Bâtiment" (click)="closeMenu()">
                    Bâtiment
                </a>
            </li>
            <li class="border-b-2 border-darkBlue w-[90%] hover:text-lightBlue">
                <a routerLink="artisan-list/Fabrication" (click)="closeMenu()">
                    Fabrication
                </a>
            </li>
            <li class="border-b-2 border-darkBlue w-[90%] hover:text-lightBlue">
                <a routerLink="artisan-list/Services" (click)="closeMenu()">
                    Services
                </a>
            </li>
            <li class="border-b-2 border-darkBlue w-[90%] hover:text-lightBlue">
                <a routerLink="artisan-list/Alimentation" (click)="closeMenu()">
                    Alimentation
                </a>
            </li>
        </ul>
    </nav>
    <div [ngClass]="{'block': searchBarOpen, 'hidden' : !searchBarOpen}" class="flex flex-col justify-start px-6">
        <div class="flex justify-between border-b-2 border-r-2 p-2 mx-2 w-full md:hidden">
            <input type="text" placeholder="recherche" [(ngModel)] = "searchTerm" class="grow">
            <img src="assets/img/magnifying-glass-solid.svg" alt="icon de recherche loupe" class="w-4">
        </div>
        <ul *ngIf="(searchTerm.length > 0)" class="md:hidden flex-col max-h-[100px] w-full mx-2 border-2 rounded-sm border-darkBlue overflow-y-auto text-[#0074c7]">
            <li *ngFor="let artisan of artisans | search : searchTerm" (click)="selectArtisan(artisan.id)" class="border-b-1 border-darkBlue p-2">
                {{artisan.name}} -
                {{artisan.location}} -
                {{artisan.specialty}}
            </li>
        </ul>
    </div>
</header>
