<main>
    <div class="mx-6 mt-6">
        <h2 class="max-sm:text-xl sm:text-2xl text-darkBlue text-center font-semibold m-4 p-4">Les Artisans du mois</h2>
        <div class="flex max-[600px]:justify-start justify-center max-md:gap-x-4 gap-x-8 pt-4 overflow-x-auto">
            <app-artisan-card *ngFor="let artisan of artisans | filteredArtisanByTop : true" [artisan]="artisan" mode="list" class="min-w-[170px] sm:w-[200px] md:w-[250px] lg:w-[300px]">
            </app-artisan-card>
        </div>
    </div>
    <div class="my-16">
        <h1 class="max-sm:text-2xl sm:text-3xl text-darkBlue text-center font-bold p-8 m-8">Comment trouver son artisan ?</h1>
        <div class="px-4 max-sm:mx-8 sm:mx-16 border-l-2 border-darkBlue ">
            <div class="pl-4 pr-4 pb-4 ">
                <h3 class="text-lg text-darkBlue p-4 font-medium">
                    Étape 1 :
                </h3>
                <p class="text-base text-textColor max-sm:px-4 px-8">
                    Cliquez dans le menu pour rechercher votre artisan selon ça catégorie. 
                    Ou rechercher directement votre artisan par son nom en cliquant sur l’icone rechercher.
                </p>
            </div>
            <div class="p-4 ">
                <h3 class="text-lg text-darkBlue font-medium p-4">
                    Étape 2 :
                </h3>
                <p class="text-base text-textColor max-sm:px-4 px-8">
                    Sélectionnez votre artisan.
                </p>
            </div>
            <div class="p-4 ">
                <h3 class="text-lg text-darkBlue font-medium p-4">
                    Étape 3 :
                </h3>
                <p class="text-base text-textColor max-sm:px-4 px-8">
                    Contacter votre artisan via le formulaire de contacter
                </p>
            </div>
            <div class="p-4 ">
                <h3 class="text-lg text-darkBlue font-medium p-4">
                    Étape 4 :
                </h3>
                <p class="text-base text-textColor max-sm:px-4 px-8">
                    Une réponse vous sera apportée sous 48h
                </p>
            </div>
        </div>
    </div>
</main>
