<main>
    <div class="mx-6 mt-6">
        <h2 class="text-xl text-darkBlue text-center font-semibold m-4 p-4">Les Artisans du mois</h2>
        <div class="flex max-[540px]:justify-start justify-center max-md:gap-x-4 gap-x-8 overflow-x-auto pt-4">
            <a [routerLink]="['/artisan', artisan.id ]" *ngFor="let artisan of artisans | filteredArtisanByTop : true">
                <div class="flex flex-col border-1 border-darkBlue rounded-lg items-center max-md:min-w-[150px] min-w-[250px] cursor-pointer">
                    <h4 class="text-center text-base font-medium py-2 px-1">{{artisan.name}}</h4>
                    <span class="block px-2 text-base text-textColor">{{artisan.specialty}}</span>
                    <span class="block px-2 text-base text-textColor">{{artisan.location}}</span>
                    <span class="block">{{artisan.note}}</span>
                </div>
            </a>
        </div>
    </div>
    <div class="my-16">
        <h1 class="text-2xl text-darkBlue text-center font-bold p-8 m-8">Comment trouver son artisan ?</h1>
        <div class="px-4 max-sm:mx-8 sm:mx-16 border-l-2 border-darkBlue ">
            <div class="pl-4 pr-4 pb-4 ">
                <h3 class="text-lg text-darkBlue p-4 font-medium">
                    Étape 1 :
                </h3>
                <p class="text-base text-textColor max-sm:px-4 px-8">
                    Cliquez dans le menu pour rechercher votre artisan selon ça catégorie. 
                    Ou rechercher directement votre artisan par son nom en cliquant sur l’icone rechercher.
                </p>
            </div>
            <div class="p-4 ">
                <h3 class="text-lg text-darkBlue font-medium p-4">
                    Étape 2 :
                </h3>
                <p class="text-base text-textColor max-sm:px-4 px-8">
                    Sélectionnez votre artisan.
                </p>
            </div>
            <div class="p-4 ">
                <h3 class="text-lg text-darkBlue font-medium p-4">
                    Étape 3 :
                </h3>
                <p class="text-base text-textColor max-sm:px-4 px-8">
                    Contacter votre artisan via le formulaire de contacter
                </p>
            </div>
            <div class="p-4 ">
                <h3 class="text-lg text-darkBlue font-medium p-4">
                    Étape 4 :
                </h3>
                <p class="text-base text-textColor max-sm:px-4 px-8">
                    Une réponse vous sera apportée sous 48h
                </p>
            </div>
        </div>
    </div>
</main>
